#game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
    width: 420px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #ccc;
    position: relative;
}

.goblin {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
}

